# **In Built Functions & Methods**

## **CRUD**

**C : Create**

**R : Read**

**U : Update**

**D : Delete**

### **1. Create**

list(), dict(), set(), tuple(), str(), int()

In [2]:
li = [1,5,'a','z']
print(li)

[1, 5, 'a', 'z']

In [5]:
li1 = list()
print(li1)

[]

In [8]:
tu = ()
print(tu)

()

In [10]:
x = {'name':'Indra','age':50,'subject':'Python'}
y = {'Indra',50,'Python'}

In [11]:
print(type(x))
print(type(y))

<class 'dict'>
<class 'set'>

In [15]:
di = {}
type(di)

dict

In [16]:
di = dict()
type(di)

dict

In [14]:
se = set()
type(se)

set

In [18]:
st = '54'
type(st)

str

In [20]:
new_st=int(st)
type(new_st)

int

In [22]:
st1 = 'abc'
st1

'abc'

In [24]:
type(st1)

str

In [25]:
st2=int(st1)
type(st1)

ValueError: invalid literal for int() with base 10: 'abc'

In [30]:
set_of_name={'Rahul','Riya','Priya'}
print(set_of_name)
print(type(set_of_name))

{'Rahul', 'Riya', 'Priya'}
<class 'set'>

In [32]:
list_of_name = list(set_of_name)
print(list_of_name)
print(type(list_of_name))

['Rahul', 'Riya', 'Priya']
<class 'list'>

In [33]:
tuple_of_name = tuple(list_of_name)
print(tuple_of_name)
print(type(tuple_of_name))

('Rahul', 'Riya', 'Priya')
<class 'tuple'>

In [34]:
s='abcd'

In [36]:
list_of_abcd=list(s)
print(list_of_abcd)

['a', 'b', 'c', 'd']